html, body {
	max-width: 100%;
	overflow-x: hidden;
}
#intro-video {
	width: 700px;
	height: 100%;
}
.intro-description{
	padding: 5px;
	margin: 10px;
}
img.img-thumbnail {
	width: 200px;
	height: 200px;
}